.cpr{
    width:75%;
    border: black solid 3px;
    margin-top: 1%;
}
.choking{
    width:75%
}
.phone-numbers{
    width: 60%;
    background-color: white;
    padding-top: 2%;
    padding-bottom: 1%;
    margin: auto;
    border: black solid 3px;
    margin-top: 1%;
}

.Emergency{
    font-weight: bolder;
    width: 30%;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: auto;
    border: black solid 3px;
    margin-top: 1%;
}

.allergens{
    height: 200px;
    width: 30%;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
  margin-left: 17%;
    border: black solid 3px;
    margin-top: 1%;
    text-align: left;
    text-indent: 5px;
    font-weight: bold;
    float: left;
}
.medications{
    height: 200px;
    width: 30%;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 17%;
    border: black solid 3px;
    margin-top: 1%;
    text-align: left;
    text-indent: 5px;
    font-weight: bold;
    float: right;
    margin-bottom: 5%;
}
.rowC{
    width:100%;
    margin: auto;
}

.footer{
    height: 100px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: black 5px double;
    background-color: #B2B2A9;
}
.footer-head{
    text-decoration: underline;
    margin: 5px;
    margin-bottom: 15px;
    text-align: right;
}
.footer-info{
    font-size: small;
    float: auto;
}
.footer-copyright{
    font-size: x-small;
    text-align: center;
    margin-top: 10px;
    background-color:#A7A79D ;
    margin-top: 21px;
    padding-bottom: 10px;
    padding-top: 5px;
}