thead{
    font-weight: bolder;
    border-bottom: #c2d9dd solid 5px;
    font-family: 'Arial Narrow', Arial, sans-serif ;
    border-top: #c2d9dd solid 5px;
}
th{
    border: #c2d9dd solid 2px;
    font-family: 'Arial Narrow', Arial, sans-serif ;
    background-color: #d5c3c0
}
td{
    border-left: #c2d9dd solid 2px;
    border-right:  #c2d9dd solid 2px;
    background-color: #c2d9dd ;
    border-bottom:  #c2d9dd solid 2px;
    font-family: 'Arial Narrow', Arial, sans-serif ;
    background-color: #d5c3c0 ;
}
table{
    width: 100%;

}
.months{
    font-weight: bolder
}
.navbar{
    border-bottom: 7px solid black;
}