.innerNavbar{
    background-color: #9c9c91;
   
}
.nav-item{
    color: black;
    font-weight: bolder;
    margin: 50px;
    text-align: center;
    float: center;
    border: black double 5px
}
body{
    background-color: #9c9c91;
     outline: solid 5px black;
    outline-offset: -15px;
    text-align: center;
    height: 100%;
    border: black double 10px
}
.dropdown-item{
    color: white;
    font-family: 'Arial Narrow', Arial, sans-serif ;
    font-weight: bolder;
}
.dropdown-menu{
    background-color: #9c9c91;
    border: black double 5px;
}