h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: inherit;
<<<<<<< HEAD
    padding:50px;
    background-color: #fefdfc;
    text-decoration: #042920 underline;
    color: #042920;
    font-weight: bolder;
=======
    padding: 50px;
    /* background-color: #D2C4C3; */
    text-decoration: black underline;
>>>>>>> 58f77628609bb3c28943cff6e5e9bccd6a3feeb1
}

.line.tickline {
    color: black
}
<<<<<<< HEAD
.verbalLog{
    background-color: #fefdfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.n{
    background-color: #fefdfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
}
.background{
    background-color: #fefdfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    border: 10px solid #48665f;
    outline: solid 5px #48665f;
=======

.verbalLog {
    /* background-color: #D2C4C3; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.n {
    /* background-color: #D2C4C3; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.background {
    /* background-color: #D2C4C3; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 10px solid #988f8e;
    outline: solid 5px #988f8e; */
>>>>>>> 58f77628609bb3c28943cff6e5e9bccd6a3feeb1
    outline-offset: -20px;
    margin-bottom: 10%;
}

<<<<<<< HEAD


.btn-success{
background-color: #48665f;
border-COLOR: #042920;;
text-align: center;

}
.btn-success:hover{
background-color:#A2B9BF ;
 border-color: #042920;
}

.btn-success:active{
    background-color:#042920;;
    border-color: #94A0B0;
}
.btn-success:focus{
    background-color:#042920; ;
=======
.btn-success {
    background-color: #94A0B0;
    border-COLOR: #A2B9BF;
    text-align: center;
}

.btn-success:hover {
    background-color: #A2B9BF;
    border-color: #94A0B0;
}

.btn-success:active {
    background-color: #A2B9BF;
>>>>>>> 58f77628609bb3c28943cff6e5e9bccd6a3feeb1
    border-color: #94A0B0;
}

.btn-success:focus {
    background-color: #A2B9BF;
    border-color: #94A0B0;
}
<<<<<<< HEAD
.btn-success:visited{
    background-color:#042920; ;
    border-color: #94A0B0;
}
.btn-success:focus-within{
    background-color:#042920; ;
=======

.btn-success:visited {
    background-color: #A2B9BF;
    border-color: #94A0B0;
}

.btn-success:focus-within {
    background-color: #A2B9BF;
>>>>>>> 58f77628609bb3c28943cff6e5e9bccd6a3feeb1
    border-color: #94A0B0;
}